html {
  font-size: 16px;
}
h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #494949;
}
h2 {
  font-size: 2.5rem;
  color: #494949;
}
header {
  height: 4rem;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.logo {
  display: inline-flex;
  background-color: lightgreen;
}
.logo span {
  background-color: lavender;
  text-transform: uppercase;
  /* colmar=#494949 */
  /* Academy=#A6A6A6 */
}
nav {
  display: inline-flex;
  background-color: lightyellow;
}
nav ul {
  display: flex;
}
.section {
display: flex;
}
.grey {
  background-color: #D7D7D7
}
.white {
  background-color: ##FFFFFF
}
.first {

}
.first img {
  width: 60%;
  margin: 32px 24px;
}
.learn {
  display:flex;
  flex-direction: column;
  justify-content: center;
  border: black solid 2px;
}
.learn span {
  font-size: 1.5rem;
  color: white;
  background-color: #494949;
  display: flex;
  justify-content: center;
  padding: .5rem 0;
  width: 60%;
}




.second{
  align-items: flex-start;
}
.leftcontainer {
  display:flex;
  flex-direction: column;
  width: 60%;
  margin: 2rem 1.5rem;
}
.leftcontainer h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.second img {
}
.right-containers {
  width: 100%;
  margin-top: 1rem;
}
.side-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  border: red solid 2px;
  width:65%;
}
.pictureandside {
  display: flex;
}
.pictureandside img {
  width: 35%;
  height: auto;
  padding: 1rem;
  border: red solid 2px;
}

.third {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.third h2 {
  padding: 2rem 0 1rem 0;
}
.grid {
  display:flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}
.gridbox {
  background-color: white;
  margin: 1rem;
}
.gridbox img {
  height: auto;
}
.gridboxtext {
  padding: 1rem 0 1.5rem 1rem;
}
.gridbox span {
  line-height: 2rem;
}



}
.fourth {

}
