html {
  font-size: 16px;
}
header {
  height: 4rem;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.logo {
  display: inline-flex;
  background-color: lightgreen;
}
.logo span {
  background-color: lavender;
  text-transform: uppercase;
  /* colmar=#494949 */
  /* Academy=#A6A6A6 */
}
nav {
  display: inline-flex;
  background-color: lightyellow;
}
nav ul {
  display: flex;
}
.section {
display: flex;
}
.grey {
  background-color: #D7D7D7
}
.white {
  background-color: ##FFFFFF
}
.first {

}
.first img {
  width: 60%;
  height: auto;
  margin: 32px 24px;
}
.learn {
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.learn span {
  color: white;
  background-color: #494949;
  display: flex;
  justify-content: center;
}




.second {

}
.third {

}
.fourth {

}
